/* Acá va tu código */

body {
  background-image: url("../src/745e294fe26fa76028d8bc74d97fd4c5.jpg");
  background-repeat: repeat-y;
  background-color: #F6CED8;
}
h1{
  width: 200px;
  margin: 0 auto;
  color: #610B38;
}
h2 {
  width: 700px;
  margin: 0 auto;
  color: #610B38;
}
  .nmb{
    width: 400px;
	margin: 0 auto;
  color: black;

  }
#intro {
  vertical-align:middle;
  display: block;
  margin: 0 auto;
  color: #FE2EC8;
  width: 500px;
  
}
#campodetextouno {
  width: 400px;
	margin: 0 auto;
  color: black;
  border-radius: 0.5cm
  }
  #campodetextodos {
    border-top-color: aquamarine;
    width: 400px;
    margin: 0 auto;
    color: black;
    }
    